footer {
	position: fixed;
	bottom: 10px;
	text-align: center;
}

.container-fluid {
	width: 95%;
}

.grocery-item-panel {
	border: 2px solid grey;
}

.food-item-icon {
	font-size: 42px;
	margin: 5px 5px 5px -1px;
	color: white;
}

.food-checkbox {
	background-color: grey;
}