

<div 
	class=" grocery-mouse grocery-item" 
	ng-mouseover="groceryItemCtrl.setShowControls(true)"
	ng-mouseout="groceryItemCtrl.setShowControls(false)"
>

	<button 
		class="btn btn-warning col-xs-1 grocery-checked" 
		ng-if="!groceryItemCtrl.grocery.checked"
		ng-click="groceryItemCtrl.checkGrocery()"
	>
		<i class="fa fa-cutlery" aria-hidden="true">
		</i>
		
	</button>
	<button 
		class="btn btn-primary col-xs-1 grocery-checked" 
		ng-if="groceryItemCtrl.grocery.checked"
		ng-click="groceryItemCtrl.checkGrocery()"
	>
		<i class="fa fa-cutlery" aria-hidden="true">
		</i>
		
	</button>

	<div class="col-xs-11 grocery-item-panel" ng-class="{strike: groceryItemCtrl.grocery.checked}"

	>
		
		<div class="row" ng-show="!groceryItemCtrl.editMode" >
			<h4 >{{ groceryItemCtrl.grocery.name }}</h4>
		</div>
		<div class="row" ng-show="!groceryItemCtrl.editMode">
			<div class="col-xs-4">
				Quantity: {{groceryItemCtrl.grocery.quantity}}
			</div>
			<div class="col-xs-8">
				Price: ${{groceryItemCtrl.grocery.price}}
			</div>
		</div>
		<grocery-edit 
	            ng-show="groceryItemCtrl.editMode"
	            grocery="groceryItemCtrl.groceryToEdit"
	            save="groceryItemCtrl.editGrocery(editedGrocery)"
	            cancel="groceryItemCtrl.setEditMode(false)" 
	    />
		<div 
			class="row grocery-item-controls"
			ng-show="groceryItemCtrl.showControls"
		>
	    		        		
			<button class="btn btn-primary" ng-click="groceryItemCtrl.setEditMode(true)">
        		<i class="fa fa-pencil-square-o"></i>
        	</button>
        	<button class="btn btn-danger" ng-click="groceryItemCtrl.deleteGrocery()">
        		<i class="fa fa-trash-o"></i>
        	</button>
			
		</div>
	</div>

</div>
